@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");

* {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

@media screen and (max-width: 800px) {
  * {
    overflow-y: visible;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

body {
  left: 0;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.icons {
  vertical-align: "middle";
}

.makeStyles-menuPaper-766 {
  padding: 5px 15px;
}

.listDesign{
  margin-top: 100px;
 }

 